{{!< default}}

{{> "post_header"}}
<div class="post-content-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
              {{#post}}
               <div class="s-post-details {{post_class}} no-image">              
				   <div class="post-image">             
                    <div class="post-meta d-flex mb-30">
                        <p><i class="fa fa-user"></i>{{#primary_author}} <a href="{{url}}">{{name}}</a>  {{/primary_author}}</p>
                        <p class="ml-40"><i class="fa fa-clock-o"></i>{{date published_at format="DD MMMM, Y"}}</p>
                    </div>
                   </div>
            
                <div class="entry-content">
                    {{content}}
                </div>
                    <div class="inner-padding fullwidth  pb-60">
                        <div class="post-share-icon clearfix">
                            <div class="tag-list">
								<div class="row">
									<div class="col-md-8">
                                <p class="float-left pr-2"><strong>Tags :</strong></p> 
                                <ul>
                                    {{#foreach tags}}
                                     <li class="post-tag-item tag tag-{{id}} {{slug}}"><a href="{{url}}">#{{name}}</a></li>
                                    {{/foreach}}
                                </ul>									
									</div>
									<div class="col-md-4">
                                <div class="share link-right float-right d-none d-sm-block">
                                    {{> "social_share"}}
                                </div>									
									</div>
								</div>


                            </div>
                        </div>
                    </div>				
                <div class="author-bio grey-bg mb-60">
                   {{#primary_author}}                    
					{{#if profile_image}}
                    <div class="author-img px-0">
                        <a href="{{url}}"><img src="{{img_url profile_image}}" alt="{{name}}"/></a>
                    </div>
                                {{/if}}					
					
                    <div class="author-details py-3 px-3">
                        <div class="pot-page-a">
                            <div class="author-name">
                                <h3><a href="{{url}}">{{name}}</a></h3>
                            </div>
                            <p>{{bio}}</p>
                            <div class="social-link">
                                <ul>
                                    <li><a href="{{facebook_url}}"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="{{website}}"><i class="fa fa-globe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   {{/primary_author}}
                </div>
				</div>
				{{/post}}
                {{> "related_posts_carousel"}}
                <div class="comments-area pb-60 clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                              {{> "disqus_comments"}}
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
