{{!< default}}
{{> "page_header"}}    
<div class="authors-area clearfix">
    <div class="container">
        <div class="row">
           {{#get "authors" include="count.posts"}}
             {{#foreach authors}}
	            <div class="col-lg-6">
	                <div class="author-details d-flex">
	                	{{#if profile_image}}
	                    <div class="author-pic">
	                        <a href="{{url}}"><img src="{{img_url profile_image}}" alt="{{name}}"/></a>
	                    </div>
	                    {{/if}}
	                    <div class="author-details-text">
	                    	
	                        <div class="title">
	                        	<span>{{t "Total posts"}} {{count.posts}}</span>
	                            <h3><a href="{{url}}">{{name}}</a></h3>
	                        </div>
	                        
	                        <p>{{bio}}</p>
	                        <div class="social-link">
	                            <ul>
	                                <li><a href="{{facebook_url}}"><i class="fa fa-facebook"></i></a></li>
	                                <li><a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a></li>
	                                <li><a href="{{website}}"><i class="fa fa-globe"></i></a></li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
              {{/foreach}}
            {{/get}}
        </div>
    </div>
</div>
