{{!< default}}

<div class="page-header pb-100 pt-85 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headerr-text text-center">
                    <h2>{{t "404"}}</h2>
                    <p>{{t "Sorry Page Not Found"}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="error-content-area pb-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="not-found text-center">
                    <img src="{{asset "assets/images/09_404.png"}}" alt="{{@site.title}}"/>
                    <h4>{{t "Page might be not exists"}}</h4>
                    <div class="btn-error"><a href="{{@site.url}}">{{t "Return to home"}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>