<header class="head-main">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="navbar themeix-navbar navbar-dark box-shadow">
               <div class="main-nav d-flex align-items-center">
                  <div class="themeix-logo-area flex-grow-1"> <a href="{{@site.url}}" class="navbar-brand ">
                     <img src="{{@site.logo}}" alt="{{@site.title}}"/>
                     </a>
                  </div>
                  <input type='checkbox' id='toggle' style='display:none;' />
                  <label class='toggle-btn toggle-btn__cross' for='toggle'>
                     <div class="bar"></div>
                     <div class="bar"></div>
                     <div class="bar"></div>
                  </label>
                  <nav class="flex-center p-5">
                     {{navigation}}
                  </nav>
                  <button type="button" class="btn primula-search-trigger" data-toggle="modal" data-target="#exampleModalScrollable">
                  <i class="fa fa-search"></i>
                  </button>				  
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">{{t "Search Here"}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action="#" id="gh-search-input" method="get" target="_top">
               <div class="input-group mb-3">
                  <input id="ghost-search-field"  type="search" class="form-control" placeholder="Type Here to Search" aria-label="Type Here to Search" aria-describedby="basic-addon1">
                  <div class="input-group-append">
                     <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                  </div>
               </div>
               <div id="gh-search-results"></div>
            </form>
         </div>
      </div>
   </div>
</div>
