
          {{#get "posts"}}
          {{#foreach posts visibility="all"}}
           {{#if @first}}
<div class="bannner-area pt-85 clearfix">
    <div class="container">
        <div class="row">

           {{#if feature_image}}
             <div class="col-lg-6 ">
                <div class="banner" style="background-image:url({{img_url feature_image}})"></div>
             </div>
            {{/if}}
            <div class="col-lg-6">
                <div class="banner-text d-flex justify-content-center">
                    <div class="banner-text-wrap">
                     <div class="title-text mb-4">
                        <h2 class="wow fadeIn"><a href="{{url}}">{{title}}</a></h2>
                        </div>
                        <p class="wow fadeIn"> 
                          {{excerpt}}
                        </p>
                        <div class="btn-read"><a href="{{url}}">{{t "Read More"}}</a></div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
 {{/if}}
           {{/foreach}}
          {{/get}}