<div class="page-header pb-100 pt-85 clearfix">
    <div class="container">
       {{#post}}
        <div class="row">
            {{#if feature_image}}
            <div class="col-lg-6 col-sm-6">
                <div class="headerr-image">
                    <img src="{{img_url feature_image}}" alt="{{title}}"/>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="author-text">
                    <div class="single-author-d">
                        <div class="title">
                            <h2>{{title}}</h2>
                            <p>{{excerpt}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-sm-12 mx-auto">
                <div class="author-text">
                    <div class="single-author-d text-left">
                        <div class="title">
                            <h2>{{title}}</h2>
                            <p>{{excerpt}}</p>
                        </div>
                    </div>
                </div>
            </div>

            {{/if}}
        </div>
       {{/post}}
    </div>
</div>