<div class="widget-title">
    <h3>{{t "Latest Posts"}}</h3>
</div>
<div class="widget-text">
   {{#get "posts" limit="5"}}
     {{#foreach posts}}
        <div class="p-post-block">
            <div class="post-thum">
                <a href="{{url}}"><img src="{{img_url feature_image}}" alt="{{title}}"/></a>
            </div>
            <div class="post-details">
                <div class="p-title">
                    <h4><a href="{{url}}">{{title}}</a></h4>
                    <span>{{date published_at format="DD MMMM, Y"}}</span>
                </div>
            </div>
        </div>
      {{/foreach}}
    {{/get}}
</div>