<ul>
	<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="blue"><i class="fa fa-facebook-f"></i></a></li>
	<li><a target="_blank" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"  class="paste"><i class="fa fa-twitter"></i></a></li>
	<li><a target="_blank" onclick="window.open(this.href, 'pinterest-share', 'width=550,height=235');return false;"   href="https://pinterest.com/pin/create/button/?{{url absolute="true"}}{{#if feature_image}}&media={{feature_image}}{{/if}}&description={{excerpt words="20"}}" class="red"><i class="fa fa-pinterest"></i></a></li>
</ul>

